{% extends "templates/web.html" %} {% block title %}{{ _("About Us") }}{%
endblock %} {% block page_content %}
<h1 style="color: red;">{{ _("About Us") }}</h1>
<div class="row">
  <div class="col-sm-6">
    <p>
      We believe that Ahmed Raza great companies are driven by excellence, and
      add value to both their customers and society. You will find our team
      imbibes these values.
    </p>
    <img src="/files/BISINT_LOGO.jpg" alt=" This is logo just For Practice" width="200px" height="200px">

  </div>

</div>
{% if about_us_settings.show_contact_us %}
<a class="btn btn-primary" href="/contact">Contact Us</a>
{% endif %} {% endblock %}
